---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>(* corresponding author) 45 journal papers, with over 1,500 citations.</p>

{% if site.author.googlescholar %}
  <p>You can also find my articles on my <a href="{{ site.author.googlescholar }}">Google Scholar profile</a>.</p>
{% endif %}

<h2>Journal Cover</h2>

<div style="margin-bottom:2em;">
  <img src="/images/journal-cover-jfm2020.png" alt="JFM cover, 2020" style="width:200px; border-radius:2px;" />
  <p style="font-size:0.9em; color:#666; margin-top:0.5em;"><em>Journal of Fluid Mechanics</em>, Vol. 888, 2020.</p>
</div>

<div class="publication-list">
  {% for category in site.publication_category %}
    {% assign catkey = category[0] %}
    {% assign catposts = site.publications | where: "category", catkey | sort: "date" | reverse %}
    {% if catposts.size > 0 %}
      <h2>{{ category[1].title }}</h2>
      <ol reversed style="line-height: 1.5;">
      {% for post in catposts %}
        <li style="margin-bottom: 0.8em;">
          {{ post.citation }}
          {% if post.paperurl %}
            {% if post.paperurl contains "arxiv" %}
              [<a href="{{ post.paperurl }}">arXiv</a>]
            {% else %}
              [<a href="{{ post.paperurl }}">DOI</a>]
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      </ol>
    {% endif %}
  {% endfor %}
</div>
